* {
    box-sizing: border-box;
}

html {
    font-size: 15pt;
}

body {
    margin: 0;
    background-color: #eef0ff;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 290px;
    min-height: 500px;
    padding: 2.6rem;
    border-radius: 1rem;
    background-color: #cbd1ff;
    box-shadow: 0 0 10px 2px #444a771e;
    color: #444a77;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h2{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 0 0 1.5rem;
}

input {
    display: block;
    color: #444a77;
    border-radius: 5rem;
    border: 1px solid #444a77;
    padding: 0.5em 0.5em;
    margin-bottom: 0.5rem;
    width: 70%;
    font-size: 0.7rem;
}

#error-msg {
    width: 70%;
    color: red;
    margin: 0 0 0.8rem 1rem;
    font-size: 0.6rem;
    text-align: left;
}

.buttons {
    margin-bottom: 2rem;
}

button{
    border-radius: 5rem;
    padding: 0.3rem 0.5rem;
    border: none;
    background-color: #eef0ff;
    color: #444a77;
    transition: all 0.15s ease-in-out;
    font-size: 0.7rem;
}

button:hover{
    background-color: #444a77;
    color:  #eef0ff;
}

table {
    text-align: center;
    width: 100%;
}

.values {
    margin-bottom: 2rem;
}

th {
    width: 33.33%;
    font-size: 0.65rem;
    opacity: 0.5;
}

th#tip {
    font-size: 0.8rem;
}

td#tipPP {
    font-size: 1.2rem;
}

.invalid {
    border: 1px solid red;
}