* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: #222;
}

a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
}

button {
    background-color: #D4216C;
    color: #FFF;
    padding: 0.5em 0.8em;
    border: 2px solid #D4216C;
    border-radius: 5em;
    font-size: 13pt;
    transition: all 0.15s ease-in-out;
}

button:hover {
    background: none;
    color: #D4216C;
    transform: scale(1.05);
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5% 0;
    box-shadow: 0 1px 20px 0px rgba(34, 34, 34, 0.15);
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 2;
    
}

.logo {
    width: 50%;
    max-width: 150px;
    padding-bottom: 0.5em;
    padding-left: 5%;
}

#hamb-ico {
    padding: 5px;
    display: block;
    font-size: 1.5em;
    padding-right: 5%;
    margin: 0;
}

#hamb-ico:hover {
    color: #D4216C;
    cursor: pointer;
}

.menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    display: none;
}

.menu.show, .contact.show {
    display: block;
}

.menu li {
    padding: 0.5em 0;
    cursor: pointer;
}

.menu li:hover{
    background-color: #D4216C;
    color: #fff
}

.contact {
    margin: auto;
    text-align: center;
    display: none;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 3.5em;
    padding: 0 10%;
}

h1 strong{
    color: #D4216C;
}

.main-img {
    display: none;
}

.donuts-panel {
    padding: 0 10%;
    margin-top: 70px;
    text-align: center;
}

.donut-product {
    padding: 50px;
    border: 2px solid #D4216C;
    border-radius: 1em;
    transition: all 0.15s ease-in-out;
    margin-bottom: 20px;
}
.donut-product-img {
    max-width: 80%;
    text-align: center;
}

.donut-product-title {
    color: #D4216C;
    font-size: 20pt;
    margin: 0 0 20px;
}

.checked {
    color: #D4216C;
}

p.caption {
    display: none;
    font-size: 12pt;
    line-height: 1.4;
}

.macros {
    padding: 0;
    list-style-type: none;
}

.macros li {
    padding: 10px 0;
    border-bottom: 1px solid black;
    display: flex;
    font-size: 12pt;
    justify-content: space-between;
}

.macros li:last-child {
    border-bottom: none;
}

.macro {
    font-weight: 900;
}

footer {
    background-color: #222;
    color: #fff;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin-top: 70px;
}

#change-button {
    border: 1px solid #fff;
    border-radius: 5em;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    transition: all .15s ease-in-out;
}

#change-button:hover{
    background-color: #fff;
    border-color: #222;
    color: #222;
}

footer p {
    margin: 0;
}

@media only screen and (min-width: 600px) {
    .logo {flex: 1;}
    .donuts-panel {display: flex; flex-wrap: wrap; justify-content: space-between;}
    .donut-product {width: 48%;}
    .donut-product:hover {box-shadow: 0 0 10px 2px #d4216c3b; transform: scale(1.05);}
}

@media only screen and (min-width: 1200px) {
    nav {flex-direction: row; justify-content: space-between; padding: 30px 10%;}
    .logo {max-width: 120px; padding-left: 0;}
    #hamb-ico {display: none;}
    .menu, .menu.show {display: flex; flex: 1; justify-content: space-between; max-width: 50%;}
    .menu li {border-bottom: 1px solid #FFF;}
    .menu li:hover {background: none; color:#D4216C; border-bottom: 1px solid #D4216C;}
    .contact {display: block; margin: 0;}
    .donut-product {width: 24%;}
    h1{font-size: 60pt;}
}
